body {
 height:95vh;
  width:95vw;
  background-color:grey;
}
.container{
	height:100%;
	width:100%;
	font-color:FF3D1E;
	font-family:arial;
	text-align:center;
}

.oneblock{
	background-color:#99CC3C;
	width:50%;
	height:30%;
	display:inline-block;
	float:left;
}
.twoblock{
	background-color:#fff;
	font-family:arial;
	width:30%;
	height:30%;
	display:inline-block;
}
.threeblock{
	background-color:#FFD828;
	font-family:arial;
	width:20%;
	height:30%;
	display:inline-block;
	float:right;
}
.fourblock{
	background-color:#3879FF;
	font-family:arial;
	width:50%;
	height:70%;
	display:inline-block;
	float:left;
}
.fiveblock{
	background-color:#FFBD3A;
	font-family:arial;
	width:50%;
	height:70%;
	display:inline-block;
	float:right;
}
