/* Check out different colors here: https://www.materialpalette.com/ */

.box {
  min-height:33vh;
  width: 30%;
}

.white {
	  background-color: #fff;
}
.green {
  background-color: #99CC3C;
}
oneblock{

	background-color:#99CC3C

	width: 49%

	height: 70%

	display: inline-block;

	font-family: Harrow, Impact;

	font-size:35px

		color: Green;}

.white {
	  background-color: #fff;
}

.dark_green {
  background-color: #16CC0E;
}

.white {
	  background-color: #fff;
}


.yellow {
  background-color: #FFD828;
}
